@import "mixins";


#it-overlay {
  font-family: 'Arial', sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: $overlayBgColor;
  @each $theme, $colorSchema in $themes {
      $ttipBg: color($colorSchema,ttipBgColor); //map-get($colorSchema, ttipBgColor);
      $ttipText: color($colorSchema,ttipTextColor); //map-get($colorSchema, ttipTextColor);
      $ttipBoxShadowColor: color($colorSchema, ttipBoxShadowColor);
      @include theme($theme, $ttipBg, $ttipText, $ttipBoxShadowColor);
  }
  .it_ttip {
      position: absolute;
      padding: 10px;
      z-index: 999999;
      min-width: 100px;
      &>p{
          margin: 0;
      }
      .it_ttip_link {
          display: inline-block;
          padding: 5px 10px;
          font-weight: bold;
          text-align: right;
          width: 100%;
          transition: color .3s ease;
          &:hover{
              text-decoration: none;
          }
      }
  }
}